:root{
  --clr-accent: #1098ad;
  --clr-black: #444;
  --clr-gray: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: var(--clr-black);
  border-top: 10px solid var(--clr-accent)
}

h1, h2, h3{
  color: var(--clr-accent);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3{
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}


li:last-child {
  margin-bottom: unset;
}

article {
  margin-bottom: 60px;
}

nav a:link {
    margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-item{
  list-style: none;
}

.main-header {
  background-color: var(--clr-gray);
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: var(--clr-gray);
  border-top: 5px solid var(--clr-accent);
  border-bottom: 5px solid var(--clr-accent);
  padding: 50px 00;
}

li:first-child
/* li:last-child, */
/* li:nth-child(odd) */
{
  font-weight: bold;
}

a:link {
  color: var(--clr-accent);
  text-decoration: none;
}

a:visited {
  color: var(--clr-accent);
}


a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline solid orangered;
}

a:active {
  background-color: black;
  color: white;
  font-style: italic;
  text-decoration: underline solid white;
}

/* LVHA for Links */

nav {
  font-size: 18px;
}

.post-img{
  width: 100%;
  height: auto;
}

.container {
  width: 700px;
  margin: 0 auto;
}